.login.container {
    margin-top: 50px;
    padding: 10px;
    background-image: url("./assets/lechaim.jpg");
    padding-bottom: 20px;
    padding-top: 250px;
    background-size: 366px 260px;
    background-repeat: no-repeat;
    background-position:  50% 0%;
}