<ul>
    <li *ngFor="let selected of user">
        <div class="row">
            <div class="col s12 m12">
                <div class="card ">
                    <div class="card-content white-text">
                        <span class="card-title">{{selected.name}}</span>
                        <div>
                            <img [src]="selected.avatar">
                        </div>
                        <h5>{{selected.age}} :גיל</h5><span>{{selected.email}}</span>
                        <p>Ian American actress and producer. She made her acting debut with a minor role in the 1987 thriller Hangmen, and made her television debut in the film Bionic Showdown: The Six Million Dollar Man and the Bionic Woman (1989), and played the lead role in the short-lived NBC sitcom Working Girl. Her breakthrough role was in the film Demolition Man (1993). She subsequently starred in several successful films including Speed (1994), While You Were Sleeping (1995), The Net (1995), A Time to Kill (1996), Hope Floats (1998), and Practical Magic (1998).
                        </p>
                    </div>
                    <div class="card-action grey">
                        <a class="waves-effect waves-teal btn-flat" href="#">צור קשר עם מייצגת</a>
                        <a class="waves-effect waves-teal btn-flat" href="#">שמור לאחר-כך</a>
                        <a class="waves-effect waves-teal btn-flat" [routerLink]="['/Candidates']"> חזור לרשימה מלאה</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>