<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo shadow"><i class="material-icons">favorite_border</i> לחיים - שידוכי מצווה</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li (click)="active = !active;">
                    <a class="contact" href="#">
                        <span> אודות</span>
                    </a>
                </li>
                <li (click)="active = !active;">
                    <a [routerLink]="['/Candidates']" class="home active" href="#">
                        <span>מועמדים</span>
                    </a>
                </li>
                <li (click)="active = !active;">
                    <a class="services" href="#">
                        <span>מייצגות</span>
                    </a>
                </li>
                <li>
                    <a (click)="logout()" href="#"><i class="material-icons">exit_to_app</i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
